{% extends 'base.html' %}
{%load static%}
{% block title %}Search Database{% endblock %}

{% block content %}

<!-- Refs: [5], [6] -->
<div class='body'>
<h1>Search Database</h1>
<h3>Use this tool to search the CourseMapper Database.</h3>
<h5>Note: "course code" refers to the set of letters before a course number, examples: "CMPT", "MACM", "PHYS".</h5>
<form class="search_form" action="/sfu_academic_api_parser/database_search/" method="post">
    {% csrf_token %}
    <!-- {{ forms }} -->
    
    <div class='user-input'>
    
    <input placeholder="Year" id="year" type="number" name="year" maxlength="100" required>
    <br>
    <br>
    <input placeholder='Semester' id="semester" type="text" name="semester" maxlength="100" required>
    <br>
    <br> 
    <input placeholder='Course Code' id="department" type="text" name="department" maxlength="100" required>
    <br>
    <br> 
    <input placeholder='Course Number' id="course_number" type="number" name="course_number" maxlength="100" required>
    <br>
    <br> 
</div>
    <input class='submit-btn' type="submit" value="Submit">
    
</form>

<div class="output">

 <b>Title:       {{search_context.title}}</b> <br><br>
Description:    {{search_context.description}} <br><br>
Prerequisites: {{search_context.prerequisites}} <br><br>
Units:          {{search_context.units}} <br><br> 
</div>

</div>
{% endblock %}