{% extends 'base.html' %}

{% block title %}CourseMapper{% endblock %}

{% block content %}

<h1>Course Lookup</h1>
<form action="/sfu_academic_api_parser/" method="post">
    {% csrf_token %}
    <!-- {{ forms }} -->
    
    <label for="department">Year: </label>
    <input id="department" type="text" name="year" maxlength="100" required>
    
    <br>

    <label for="course_number">Semester: </label>
    <input id="course_number" type="text" name="semester" maxlength="100" required>

    <br>

    <label for="department">Department: </label>
    <input id="department" type="text" name="department" maxlength="100" required>

    <br>

    <label for="course_number">Course Number: </label>
    <input id="course_number" type="text" name="course_number" maxlength="100" required>
    
    <br>

    <input type="submit" value="Submit">
    
</form>
<h3>Courses needed to reach your goal are listed below.</h3>
<b>Title:       {{courses.title}}</b> <br><br>
Description:    {{courses.description}} <br><br>
Prerequisites: {{courses.prerequisites}} <br><br>
Units:          {{courses.units}} <br><br>
 <ul>
    {% comment %} {%for courses in courses%}
        <li>{{courses.prerequisites}}</li>
        {%endfor%} {% endcomment %}
</ul>
{% endblock %}