{% extends 'base.html' %}

{% block title %}CourseMapper{% endblock %}

{% block content %}

<!-- Refs: [5], [6] -->

<h1>Course Lookup</h1>
<h3>Use this tool to search the REST API.</h3>
<h5>Note: "course code" refers to the set of letters before a course number, examples: "CMPT", "MACM", "PHYS".</h5>
<form action="/sfu_academic_api_parser/" method="post">
    {% csrf_token %}
    <!-- {{ forms }} -->
    
    <label for="department">Year: </label>
    <input id="department" type="text" name="year" maxlength="100" required>
    
    <br>
    <br>

    <label for="course_number">Semester: </label>
    <input id="course_number" type="text" name="semester" maxlength="100" required>

    <br>
    <br>

    <label for="department">Course Code: </label>
    <input id="department" type="text" name="department" maxlength="100" required>

    <br>
    <br>

    <label for="course_number">Course Number: </label>
    <input id="course_number" type="text" name="course_number" maxlength="100" required>
    
    <br>
    <br>

    <input type="submit" value="Submit">
    
</form>
{% comment %} This for loop is for when we are able to store the parsed api data in our database {% endcomment %}
{% comment %} {% for courses in all_courses %} {% endcomment %}
 <b>Title:       {{courses.title}}</b> <br><br>
Description:    {{courses.description}} <br><br>
Prerequisites: {{courses.prerequisites}} <br><br>
Units:          {{courses.units}} <br><br> 
{% comment %} {% endfor %} {% endcomment %}
 <ul>
    {% comment %} {%for courses in courses%}
        <li>{{courses.prerequisites}}</li>
        {%endfor%} {% endcomment %}
</ul>
{% endblock %}