{% extends 'base.html' %}
{% load static %}

{% block title %}Manual Input{% endblock %}

{% block content %}

<!-- Refs: [5], [6] -->
<div class='body'>
<h1>Manual Course Entry</h1>
<h3>Use this tool to import courses from the REST API to the CourseMapper Database.</h3>
<h5>Note: "course code" refers to the set of letters before a course number, examples: "CMPT", "MACM", "PHYS".</h5>
<form class='search_form' action="/sfu_academic_api_parser/manual_input/" method="post">
    {% csrf_token %}
    <!-- {{ forms }} -->
<div class='user-input'>
    
    <input placeholder="Year" id="department" type="text" name="year" maxlength="100" required>
    <br>
    <br>
    <input placeholder='Semester' id="course_number" type="text" name="semester" maxlength="100" required>
    <br>
    <br> 
    <input placeholder='Course Code' id="department" type="text" name="department" maxlength="100" required>
    <br>
    <br> 
    <input placeholder='Course Number' id="course_number" type="text" name="course_number" maxlength="100" required>
    <br>
    <br> 
</div>
    <input class='submit-btn' type="submit" value="Submit">
    
</form>

<div class="output">

 <b>Title:       {{course_data.title}}</b> <br><br>
Description:   {{course_data.description}} <br><br>
Prerequisites: {{course_data.prerequisites}} <br><br>
Units:     {{course_data.units}} <br><br> 
</div>

</div>
{% endblock %}