
{% extends 'base.html' %}

{% block title %}CourseMapper{% endblock %}

{% block content %}

<!-- Refs: [5], [6] -->
<div class='body'>
<h1>Tree Diagram</h1>
<h3>Use this tool to search the Course REST API and store the course into the database, and then draws a diagram.</h3>
<h5>Note: "course code" refers to the set of letters before a course number, examples: "CMPT", "MACM", "PHYS".</h5>
<form class='search_form' action="/treemode/" method="post">
    {% csrf_token %}
    <!-- {{ forms }} -->
<div class='user-input'>
    {% comment %} <label for="department">Year: </label> {% endcomment %}
    <input placeholder="Year" id="department" type="text" name="year" maxlength="100" required>
    <br>
    <br>
    {% comment %} <label for="course_number">Semester: </label> {% endcomment %}
    <input placeholder="Semester" id="course_number" type="text" name="semester" maxlength="100" required>
    <br>
    <br>
    {% comment %} <label for="department">Course Code: </label> {% endcomment %}
    <input placeholder="Course Code" id="department" type="text" name="department" maxlength="100" required>
    <br>
    <br>
    {% comment %} <label for="course_number">Course Number: </label> {% endcomment %}
    <input placeholder="Course Number" id="course_number" type="text" name="course_number" maxlength="100" required>
    <br>
    <br>
</div> <!--end of 'user-input'-->
    <input class='submit-btn' type="submit" value="Submit">
    
</form>
<div class='output'>
    <label> 
 <b>Title:       {{course_data.name}}</b> <br><br>
{{course_data.prerequisite}} <br><br>
PrereqArray: {{course_data.prereqList}}<br><br>
PrereqTree: <br>

{% for i in course_data.prereqtexttree %}
 {% if i == 'indent' %} 
     &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  ==>
{% elif i != 'indent' %}
 {{i}} <br>
{% endif %}


{% endfor %}
</label></div> <!--end of 'output'-->

<br><br><br>

</div> <!--end of 'body'-->
{% endblock %}