:root{
    /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
    font-family: Helvetica, sans-serif;
}
body{
    width:auto;
    height: 100%;
    /* background-color: #f2faf8; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color:#555b6e;
    background-color:#e5e2e2;  
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.title {
  /* background-color:rgba(16, 78, 107, 0.6); */
  color: rgb(187, 186, 186);
  text-align: center;
  text-shadow: 1px 2px #000000;
  font-size: 75px;
  letter-spacing: 5px;
}

.description {
  color: #284b63;
  text-align: center;
  letter-spacing: 2.5px;
}

.redirect {
  text-align: center;
}

/* styling for just the login page */
.login {
  color: #6c757d;
  font-size: 50px;
}

.form-group {
  padding-bottom: 20px;
}

/* styling for just the signup page */
.signup {
  color: #ffffff;
  font-size: 50px;
}

/* Home page */
.home{
    text-indent: 20px;   
    text-align: center;
}

.course_input{
  background-color: #ffffff;
  padding-top: 10px;
}
/* styling for both signup and login pages */
form {
  padding: 3%;
  margin: -5px;
}

.user_input{
    width: 50%;
    height: 40px;
    margin-left: 0px;
}



.submit_button {
  margin-left: 0;
  padding: 0.5em 3em;
  border: 0.15em solid #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #353535;
  text-transform: uppercase;
  background-color: #89b0ae;
  border-radius: 5px;
}

.submit_button:hover {
  color: #353535;
  border-color: #353535;
}

/* Navigation bar */
.navigation ul{
  background: #faf9f9;
  width:auto;
  list-style: none;
  padding: 10px 12px;
  margin:0;
  overflow: hidden;
}

.navigation a {
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  color: #6c757d;
  display: block;
  float: left;
}

.navigation a:hover {
    background-color: #a3a3a3;
    color: black;
    border-radius: 10px;
  }

 .name{
    font-size: larger;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
  }

/* Admin panel */
.admin{
    background: #bee3db;
    width: 98%;
    padding: 10px 20px;
    padding-bottom: 10px;
    opacity: 75%;
    overflow: hidden;
    float:left;
}

.admin h1{
    font-size: 20px;
    margin-bottom: 30px;
}

.admin .dropbtn{
  border:none;
  border-radius: 5px;
  font-size: 16px;
  color: #555b6e;
  padding: 10px 10px;
  background-color: white;
}

.admin-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.admin-content a{
    display: block;
    background: white;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    font-size: 15px;;
    text-align: center;
}

.admin a:hover {
    background-color: #a3a3a3;
    color: black;
}

.admin:hover .admin-content{
  display: block;
}

.admin:hover .dropbtn{background-color: white;}