<!-- templates/home.html -->
<!-- Refs: [7]-->
{% extends 'base.html' %}

{% block title %}CourseMapper Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
 <h1> Hi {{ user.username|safe }}! Welcome to CourseMapper </h1>
 <ul>
  <li>Tree Diagram (unavailable)</li>
  <li><a href="{% url 'directions' %}">Directions Mode</a></li>
  <li><a href="{% url 'prereqs' %}">Add course to database</a></li>
  <li><a href="{% url 'logout' %}">Log Out</a></li>
 </ul>

 <!--Create form for user to manually enter grades and data-->
 <h2><u>The following functions are unavailable as of Iteration 1</u></h2>
<h4>In the form below, please enter the course codes you have already taken,
  along with their grades, in a comma separted list.</h4>
<p>Example: CMPT120 A, MACM101 B+, CMPT276 F</p>
  
<form action ="coursemapper/accounts/dummy_input" method="post">
  <textarea name= "user_inp" id = "user_inp" rows = "20" cols= "100">
 </textarea>
  <input type="submit" value =Done!>
</form>

<!---Create a button to direct user to submit academic trasnscript-->
<h3>Option 2: Upload your advising transcript PDF for processing</h3>
<h5>Transcript files are deleted after processing. Information stored is held securely and will be destroyed upon request. See our privacy policy for more details. [To be added]</h5>
<button type="button">Submit academic transcript</button>


{% else %}
  <h1 class='title'>CourseMapper</h1>
  <h2 class='description'>A tool for SFU students to visualize and plan their degree</h2>
  <div>
  <p class='redirect'>You are not logged in. Login <a href="{% url 'login' %}">here</a></p>
  <p class='redirect'> Don't have an account? Register <a href="{% url 'signup' %}">here</a> </p>
  </div>
{% endif %}
{% endblock %}
 