<!-- templates/home.html -->
<!-- REFERENCE: https://learndjango.com/tutorials/django-login-and-logout-tutorial-->
{% extends 'base.html' %}

{% block title %}CourseMapper Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
 <h1> Hi {{ user.username|safe }}! Welcome to CourseMapper </h1>
 <ul>
  <li>Tree Diagram</li>
  <li>Directions Mode</li>
  <li><a href="{% url 'logout' %}">Log Out</a></li>
 </ul>
{% else %}
  <h1 class='title'>CourseMapper</h1>
  <h2 class='description'>A tool for SFU students to visualize and plan their degree</h2>
  <div>
  <p class='redirect'>You are not logged in. Login <a href="{% url 'login' %}">here</a></p>
  <p class='redirect'> Don't have an account? Register <a href="{% url 'signup' %}">here</a> </p>
  </div>
{% endif %}
{% endblock %}
 